<div class="row">
    <div class="col-xs-12">
        <h2>Hello there</h2>
        <p>You can try to guess the number in three attempts. You can always refresh the page and start over.</p>
        <p>Number of attempts: {{ data.count }}</p>
    </div>
</div>

<div class="alert alert-success" ng-if="data.showSuccess">
    <strong>Well done!</strong> You successfully guessed the number!
</div>

<div class="alert alert-danger" ng-if="data.count >= 3">
    <strong>Oh snap!</strong> You have reached the maximum number of attempts.
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">Enter a number in the range {{ data.left }} - {{ data.right }}</label>
            <div class="input-group">
                <input type="number" class="form-control" name="number" ng-model="data.number" min="{{ data.left }}" max="{{ data.right }}">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="tryNumber(data.number)">Try</button>
                    </span>
            </div>
        </div>
    </div>
</div>
